@import 'styles.css';
@import '_form.css';
@import '_dialog.css';

section.content {
    margin-top: 1rem;
}

@media (min-width: 650px) {
    div:has(.content) {
        display: flex;
        flex-flow: row nowrap;

        > .content {
            flex: 1 0 50%;
        }
    }
}

address {
    text-indent: 1rem;

    #postal-address {
        margin-bottom: 0.5rem;
    }
}