@import 'styles.css'; 

/* Hide auth-nav on mobile initially */
.auth-nav {
  display: flex;
  gap: 0.5rem;
}

/* Main navigation */
h1 {
  font-family: var(--font-display);
  font-size: 2.9rem;
  font-weight: 900;
  color: var(--clr-soft-white);
}  

.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-cocoa);
  padding: 0.2rem 0.5rem;
}

/* Hover effect */
.main-nav a:hover {
  color: var(--clr-pink);
  text-decoration: underline;
}

/* RESPONSIVE: Mobile */
@media (max-width:768px){

}
