@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Poppins&display=swap');

:root {
    --colourBgMain: #414833;
    --colourBgComplementary: floralwhite;
    --colourBgNav: #656D4A;
    --colourBgCategory: #7F4F24;

    --fontTitle: 'Lexend Zetta', sans-serif;
    --fontMain: Poppins, sans-serif;

    --maxWidth: 1024px;
}